html {
  min-height: 100%;
  background-image: url(assets/MUSHROOMPHONE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flexbox;
}

.elemts {
  display: flexbox;
}

.moldUp {
  position: absolute;
  top: 23%;
  left: 30.2%;
  max-height: 36%;
  margin: 0 auto;
  z-index: 6;
}

.linkMoldUp :hover {
  animation: upperMold 4s infinite linear;
  z-index: 6;
}

.moldDown {
  position: absolute;
  top: 57%;
  left: 29.5%;
  max-height: 48%;
  margin: 0 auto;
  z-index: 1;
}

.linkMoldDown :hover {
  animation: upperMold 4s infinite linear;
  z-index: 7;
}

@keyframes upperMold {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    transform: scale(1);
  }
  25% {
    opacity: 0.8;
    animation-timing-function: ease-out;
    transform: scale(1.3);
  }
  50%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

#dgl1Text {
  font-family: "Yantramanav", sans-serif;
  font-size: 9vh;
  text-align: center;
  font-weight: 600;
  color: yellow;
  margin-left: 47%;
  margin-top: 8%;
  /* background-color: aquamarine; */
  animation: myAnim 5s ease 1s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    opacity: 10%;
    transform-origin: center center;
    color: rgb(102, 255, 0);
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.94);
    opacity: 30%;
    color: rgb(255, 0, 0);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
    opacity: 40%;
    color: rgb(195, 0, 255);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
    opacity: 50%;
    color: rgb(255, 0, 89);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
    opacity: 80%;
    color: rgb(26, 9, 255);
  }
}

#digital1 {
  animation: horizontal-shaking 0.9s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

#lichen1 {
  animation: vertical-shaking 0.9s infinite;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* MOBILE DEVICE LAYOUT */

/* @media only screen and (hover: none) and (pointer: coarse) {
  html {
    background-image: url(assets/TRIANGLEofMADNESS_MOBILEVIEW_1080x720.jpg);
  }
} */
@media only screen and (max-device-width: 640px) {
  html {
    background-image: url(assets/cluodhighrise1.png);
    background-size: contain;
    background-color: #1a191d;
    /*   margin-top: 2vh; */
  }
  .linkMoldUp {
    
    max-height: 14.5vh;
    position: absolute;
    top: 5%;
    left: -56%;
    right: 0;
    margin: 0 auto;
    animation: like 10s infinite linear;
  }

  @keyframes like {
    0% {
      animation-timing-function: ease-in;
      transform: scale(1);
      opacity: 100%;
    }
    25% {
      animation-timing-function: ease-out;
      transform: scale(1.3);
      opacity: 60%;
    }
    50%,
    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }
  .redPollen {
    display: none;
  }
  .purplePollen {
    display: none;
  }

  .pollen1 {
    /*   max-height: 12%; */

    z-index: 6;
  }

  .homeText {
    font-family: "Yantramanav", sans-serif;
    font-size: 6vh;
    text-align: center;
    font-weight: 600;
    color: yellow;
    -webkit-animation: blur-in-and-out 12s infinite;
    margin-top: 60%;
  }
}
