html {
    min-height: 100%;
    background-image: url(assets/QUANTENPC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  a {background-color:transparent;}