html {
    min-height: 100%;
    background-image: url(assets/SMOKEYCHEST.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }