html {
  min-height: 100%;
  background-image: url(assets/QUANTENPC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  /* -webkit-animation: blur-in-and-out 3s infinite; */
}

a {
  background-color: transparent;
}

.box {
  /* background-color: #61ab20; */
  min-height: 25vh;
  min-width: 25vw;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  position: relative;
  /*  box-shadow: inset 0 0 3px #000; */
  /*   border-radius: 5px; */
  /*   border: 1px solid #111; */
  overflow: hidden;
}
.box b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX 13.05s linear 0s infinite alternate,
    moveY 13.4s linear 0s infinite alternate;
  -moz-animation: moveX 13.05s linear 0s infinite alternate,
    moveY 13.4s linear 0s infinite alternate;
  -o-animation: moveX 13.05s linear 0s infinite alternate,
    moveY 13.4s linear 0s infinite alternate;
  animation: moveX 13.05s linear 0s infinite alternate,
    moveY 13.4s linear 0s infinite alternate;
}

.box :hover {
  transform: scale(2.5);
  background-color: #ff0a0a;
}

.box b :hover {
  background-color: #ff0a0a;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 280px;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 280px;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 280px;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 280px;
  }
}

.box1 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX1 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
  -moz-animation: moveX1 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
  -o-animation: moveX1 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
  animation: moveX1 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
}

.box1 :hover {
  transform: scale(3);
  background-color: #e6ff0a;
}

@-webkit-keyframes moveX1 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes moveX1 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes moveX1 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@keyframes moveX1 {
  from {
    left: 480px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes moveY1 {
  from {
    top: 6280px;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes moveY1 {
  from {
    top: 6280px;
  }
  to {
    top: 0;
  }
}
@-o-keyframes moveY1 {
  from {
    top: 680px;
  }
  to {
    top: 0;
  }
}
@keyframes moveY1 {
  from {
    top: 680px;
  }
  to {
    top: 0;
  }
}

.box2 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
  -moz-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
  -o-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
  animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
}

.box2 :hover {
  transform: scale(2.5);
  background-color: #ff0a84;
}

@-webkit-keyframes moveX2 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes moveX2 {
  from {
    left: 480px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes moveX2 {
  from {
    left: 980px;
  }
  to {
    left: 0;
  }
}
@keyframes moveX2 {
  from {
    left: 980px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes moveY2 {
  from {
    top: 280px;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes moveY2 {
  from {
    top: 980px;
  }
  to {
    top: 0;
  }
}
@-o-keyframes moveY2 {
  from {
    top: 980px;
  }
  to {
    top: 0;
  }
}
@keyframes moveY2 {
  from {
    top: 980px;
  }
  to {
    top: 0;
  }
}

.box3 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #83cf36;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
  -moz-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
  -o-animation: moveX2 13.05s linear 0s infinite alternate,
    moveY1 13.4s linear 0s infinite alternate;
  animation: moveX2 13.05s linear 0s infinite alternate,
    moveY2 13.4s linear 0s infinite alternate;
}

.box3 :hover {
  transform: scale(2.5);
  background-color: #99ff0a;
}

@-webkit-keyframes moveX2 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes moveX2 {
  from {
    left: 2480px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes moveX2 {
  from {
    left: 980px;
  }
  to {
    left: 0;
  }
}
@keyframes moveX2 {
  from {
    left: 980px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes moveY2 {
  from {
    top: 0px;
  }
  to {
    top: 280px;
  }
}
@-moz-keyframes moveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980;
  }
}
@-o-keyframes moveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980px;
  }
}
@keyframes moveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980px;
  }
}

.box4 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #cf36cf;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.4s linear 0s infinite alternate;
  -moz-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.4s linear 0s infinite alternate;
  -o-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY1 13.4s linear 0s infinite alternate;
  animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.4s linear 0s infinite alternate;
}

.box4 :hover {
  transform: scale(2.5);
  background-color: #ff0ad2;
}

@-webkit-keyframes omoveX2 {
  from {
    left: 680px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes omoveX2 {
  from {
    left: 1480px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes omoveX2 {
  from {
    left: 1980px;
  }
  to {
    left: 0;
  }
}
@keyframes omoveX2 {
  from {
    left: 1980px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 1280px;
  }
}
@-moz-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980;
  }
}
@-o-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980px;
  }
}
@keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 1980px;
  }
}

.box5 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00deea;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.3s linear 0s infinite alternate;
  -moz-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.5s linear 0s infinite alternate;
  -o-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY1 13.5s linear 0s infinite alternate;
  animation: omoveX2 4.05s linear 0s infinite alternate,
    omoveY2 13.5s linear 0s infinite alternate;
}

.box5 :hover {
  transform: scale(2.5);
  background-color: #13fff3;
}

@-webkit-keyframes omoveX2 {
  from {
    left: 1680px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes omoveX2 {
  from {
    left: 480px;
  }
  to {
    left: 0;
  }
}
@-o-keyframes omoveX2 {
  from {
    left: 1980px;
  }
  to {
    left: 0;
  }
}
@keyframes omoveX2 {
  from {
    left: 1980px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 1280px;
  }
}
@-moz-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980;
  }
}
@-o-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980px;
  }
}
@keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 1980px;
  }
}

.box6 b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #71ea00;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.3s linear 0s infinite alternate;
  -moz-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY2 13.5s linear 0s infinite alternate;
  -o-animation: omoveX2 13.05s linear 0s infinite alternate,
    omoveY1 13.5s linear 0s infinite alternate;
  animation: omoveX2 4.05s linear 0s infinite alternate,
    omoveY2 13.5s linear 0s infinite alternate;
}

.box6 :hover {
  transform: scale(2.5);
  background-color: #13fff3;
}

@-webkit-keyframes omoveX2 {
  from {
    left: 0px;
  }
  to {
    left: 1600px;
  }
}
@-moz-keyframes omoveX2 {
  from {
    left: 0;
  }
  to {
    left: 480px;
  }
}
@-o-keyframes omoveX2 {
  from {
    left: 0;
  }
  to {
    left: 1980px;
  }
}
@keyframes omoveX2 {
  from {
    left: 0;
  }
  to {
    left: 1980px;
  }
}
@-webkit-keyframes omoveY2 {
  from {
    top: 1280px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes omoveY2 {
  from {
    top: 980px;
  }
  to {
    top: 0;
  }
}
@-o-keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 980px;
  }
}
@keyframes omoveY2 {
  from {
    top: 0px;
  }
  to {
    top: 1980px;
  }
}

.dgl2Text {
  font-family: "Yantramanav", sans-serif;
  font-size: 20vh;
  margin: 8;
  text-align: center;
  font-weight: 600;
  -webkit-animation: blur-in-and-out 12s infinite;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
