html {
    min-height: 100%;
    background-image: url(assets/SPACEMAGGOTPLANETEATER_1920_1080px.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }