html {
  min-height: 100%;
  background-image: url(assets/ANOMALIEN1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.homeText {
  font-family: "Poppins", sans-serif;
  font-size: 18vh;
  text-align: center;
  font-weight: 600;
  color: yellow;
  -webkit-animation: blur-in-and-out 10s infinite;
}

@-webkit-keyframes blur-in-and-out {
  0%,
  100% {
    -webkit-filter: blur(0px);
  }
  25%,
  75% {
    -webkit-filter: blur(9px);
  }
  50% {
    -webkit-filter: blur(30px);
  }
}

.pollen1 {
  position: absolute;
  top: 37%;
  left: 66%;
  right: 0;
  margin: 0 auto;
  max-height: 62%;
  z-index: 6;
}

.yellowPollen :hover {
  animation: like 6s infinite linear;
  z-index: 6;
}

.pollen2 {
  position: absolute;
  top: -3.3%;
  left: 2.7%;
  right: 0;
  margin: 0 auto;
  max-height: 63.45%;
  z-index: 5;
}
.redPollen :hover {
  animation: like 6s infinite linear;
  z-index: 6;
}
.pollen3 {
  position: absolute;
  top: 27.2%;
  left: -64.2%;
  right: 0;
  margin: 0 auto;
  max-height: 70%;
  z-index: 0;
}

.purplePollen :hover {
  animation: thirdPollen 6s infinite linear;
  z-index: 6;
}

/* nav {
  position: absolute;
  top: "your percentage";
  left: 0;
  right: 0;
  margin: 0 auto;
  border: solid;
} */

@keyframes like {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(1);
  }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(-180deg) scale(1.3);
  }
  50%,
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@keyframes thirdPollen {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(1);
  }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(180deg) scale(1.3);
  }
  50%,
  100% {
    transform: rotate(360deg) scale(1);
  }
} ;
