html {
  min-height: 100%;
  background-image: url(assets/SMOKEYCHEST.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.fireCross {
  position: absolute;
  top: 12.6%;
  left: 43.4%;
  margin: 0 auto;
  max-height: 30%;
  z-index: 6;
}

.fireCrossLink :hover {
  animation: fireCrossAnimation1 6s infinite linear;
  z-index: 6;
}

.chest {
  position: absolute;
  top: 49%;
  left: 32.5%;
  margin: 0 auto;
  max-height: 55%;
  z-index: 5;
}

.chestLink :hover {
  animation: chestLinkAnimation1 6s infinite linear;
  z-index: 7;
}

@keyframes fireCrossAnimation1 {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(1);
  }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(180deg) scale(3);
    opacity: 25%;
  }
  50%,
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes chestLinkAnimation1 {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(0deg) scale(1);
  }
  25% {
    animation-timing-function: ease-out;
    transform: rotate(-180deg) scale(8);
  }
  50%,
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

#dgl6Text {
  font-family: "Yantramanav", sans-serif;
  font-size: 9vh;
  text-align: center;
  font-weight: 600;
  color: yellow;
  margin-left: 8%;
  margin-top: 12%;
  /* background-color: aquamarine; */
}

.pop-outin {
  animation: 10s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: rgb(255, 7, 102);
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}
