html {
  min-height: 100%;
  background-image: url(assets/QUANTENPC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* -webkit-animation: blur-in-and-out 3s infinite; */

}
canvas {
  display: block;  
  background-color: hsl(0, 0%, 10%);
}
a {
  background-color: transparent;
}

.blur-animation {
  -webkit-animation: blur-in-and-out 100s infinite;
}

@-webkit-keyframes blur-in-and-out {
  0%, 100%  { -webkit-filter: blur(0px) ; }
  25%, 75% {  -webkit-filter: blur(9px); }
  50% {  -webkit-filter: blur(30px); }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}