html {
  min-height: 100%;
  background-image: url(assets/PILLAR169.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.redPillar {
  position: fixed;
  top: 474px;
  left: 300px;
  max-height: 22%;
  z-index: 6;
}

.redPillar :hover {
  animation: like 6s infinite linear;
  z-index: 6;
}
