html {
  min-height: 100%;
  background-image: url(assets/PILLAR169.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.redPillar {
  position: fixed;
  top: 360px;
  left: 200px;
  max-height: 24%;
  z-index: 6;
}

